<!DOCTYPE HTML>
<head>
    <title>Done!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<style type="text/css">
	body {
		background-color: #003b6f;
		text-align: center;
		font-family: 'Helvetica';
		color: #FFF;
		padding: 200px;

	}
</style>
<body>
	<h3>Thanks!</h3>
	<h1>You'r now on the secret list!</h1>
	<a class="btn btn-default" href="{{url_for("home")}}" >
		<i class="fa fa-angle-double-left ">  Go Back</i>
	</a>
</body>
